.crash{color:rgb(200,0,0);}
.warn{color:rgb(240,150,0);}
.failure{color:rgb(0,0,255);}
.event{color:rgb(0,0,0);}
.operator{color:rgb(0,180,0);}
.malfunction{color:rgb(0,128,128);}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}